<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>动画demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B36DA5A41E51969F0041F2AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36DA5C01E51969F0041F2AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36DA5CB1E51969F0041F2AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
